.header {
  position: absolute;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-top: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
