/* Навигация desktop  */

.nav {
  @include desktop {
    display: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 65px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  text-decoration: none;
}

.nav__link:hover {
  color: $purple;
}

/* Навигация tablets */

.hamburger-nav__item:hover {
  color: $purple;
}
