.scroll-down {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  &:hover {
    color: $purple;
    transition: $speed;
    .scroll__icon {
      fill: $purple;
      transition: $speed;

    }
  }
}

.scroll-down__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.scroll__icon {
  width: 25px;
  height: 28px;
}
/*  */
