.slider {
  position: relative;
}

.slider__main {
  position: relative;
  width: 977px;
  height: 549px;
}

.slider__prev-list {
  position: absolute;
  bottom: 0;
  right: 0;
}

.slider__prev-item,
.slider__prev-btn {
  &:hover {
    outline: $purple solid 2px;
  }
}

.slider__prev-btn:hover {
  display: block;
  height: 100%;
  width: 100%;
}

.slider__prev-btn {
  display: block;
}
