.social {
  &__list {
    display: flex;
  }

  &__item {
    width: 25px;
    height: 25px;
    fill: black;
    margin-right: 45px;
  }
  &__icon:last-child {
    margin-right: 0px;
  }
}

.social__item:hover {
  .social__header {
    fill: #4b6fd7;
  }
}
