.welcome {
  background-image: url("/dist/Mountain_Baloon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.section-wrapp {
  background-image: url("/src/images/bg/Budda-all.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}