/* .welcome-section {
  background-image: url("/dist/Mountain_Baloon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1800px;
  width: 100%;
} */
