.work {
  min-height: 650px;
  width: 100vw;
  padding-bottom: 16%;
}

.work__content {
  display: flex;
  @include tablets {
    flex-direction: column;
  }
}

/* .work__slider-btn-block {
  position: absolute;
  bottom: -50px;
  right: 0px;
} */
