section.benefit#benefit
    .container.benefit__container
        //- +image("bg/bag.png", "benefit__pic")
    .benefit__desc
        h2.benefit__title-text.title--mod Чем я могу быть полезен вам
        p.benefit__title-subtext Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .benefit__content
        include ./skills.pug