.hamburger__btn
    .hamburger-menu-icon 

.hamburger
    +nav("hamburger-nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"], ["header", "about", "skill", "work", "reviews", "contact"])
    include ./social.pug
    +social("hamburger")
    
    
        