header.header
    .container.header__container
        .header__logo
            include ./logo.pug
        .header__menu
            include ./nav.pug
            +nav("nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"], ["header", "about", "skill", "work", "reviews", "contact"])
        .header__social
            include ./social.pug
            +social("header")  
        .header__hamburger
            include ./hamburger-menu.pug
            