header.header.promo__header
    .promo__logo(tabindex ="0")
        include ./logo.pug
    .promo__menu
        +nav("nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"], ["promo", "about", "skill", "work", "reviews", "contact"])
    .promo__social
        +social("header")