ul.nav__list
    li.nav__item
        a.nav__link(href="#promo") Главная
    li.nav__item
        a.nav__link(href="#about") Обо мне
    li.nav__item
        a.nav__link(href="#skills") Навыки
    li.nav__item
        a.nav__link(href="#work") Работы
    li.nav__item
        a.nav__link(href="#reviews") Отзывы
    li.nav__item
        a.nav__link(href="#contacts") Связаться
