.parallax-reviews
    .parallax__layer-reviews(data-speed="0.1")
        +image("parallax/Sky.png", "parallax__image-reviews", "", "presentation")
    .parallax__layer-reviews(data-speed="0.25")
        +image("parallax/Mountain.png", "parallax__image-reviews", "", "presentation")
    .parallax__layer-reviews(data-speed="0.35")
        +image("parallax/buddha.png", "parallax__image-reviews", "", "presentation")
    .parallax__layer-reviews(data-speed="0.38")
        +image("parallax/White.png", "parallax__image-reviews", "", "presentation")
    .parallax__layer-reviews(data-speed="0.38")
        +image("parallax/clouds_1.png", "parallax__image-reviews", "", "presentation")
    include ./reviews.pug
    include ./contacts.pug