section.promo#promo
    .container.promo__container
        header.header.promo__header
            .promo__logo
                include ./logo.pug
            .promo__menu
                include ./nav.pug
            .promo__socials
                include ./social-header.pug
        .promo__content
            .user-info
                h6.user-info__desc Личный сайт<br>веб разработчика
                h1.user-info__name Кочергин<br>Юрий
        .promo__btn
            include ./scroll-down.pug 
            