section.promo#promo
    .container.promo__container
        .promo__content
            .user-info
                h3.user-info__desc Личный сайт веб разработчика
                h1.user-info__name Кочергин  Юрий
        .promo__btn
            include ./scroll-down.pug 
              