section.promo#promo
    .container.promo__container
        include ./header.pug
        .promo__content
            .user-info
                h6.user-info__desc Личный сайт<br>веб разработчика
                h1.user-info__name Кочергин<br>Юрий
        .promo__btn
            include ./scroll-down.pug 
              