section.promo#promo
    .container.promo__container
        .promo__content
            .promo__user-info
                h3.promo__user-info-desc Личный сайт веб разработчика
                h1.promo__user-info-name Кочергин  Юрий
        .promo__btn
            include ./scroll-down.pug 
        