section.reviews#reviews
  .container.reviews__container
    .reviews__block
        h2.title.reviews__title Что обо мне говорят
            include ./slider-control-reviews.pug       
    
    .reviews__block
      .reviews__items
        .reviews__item
          
          .reviews__col
            .reviews__block-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews__block-autor
              .autor__photo
                
              .autor__name
                .autor__name-name Дмитрий Ковальчук
                .autor__name-who Основатель Loftschool
        .reviews__item
          
          .reviews__col
            .reviews__block-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
            .reviews__block-autor
              .autor__photo
                
              .autor__name
                .autor__name-name Владимир Сабанцев
                .autor__name-who Преподаватель