section.reviews#reviews
  .container.reviews__container
    .reviews__block
        h2.title.title__reviews Что обо мне говорят
        include ./slider-control-reviews.pug       
    .reviews__slider
        include ./slider-reviews.pug









