section.reviews#reviews
  .container.reviews__container
    .reviews__block
        h2.title.reviews__title Что обо мне говорят
        include ./slider-control-reviews.pug       
    .reviews__slider
        include ./slider-reviews.pug













    //- .reviews__item
            
            //-   .reviews__col
            //-     .reviews__block-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
            //-     .reviews__block-autor
            //-       .autor__photo
                    
            //-       .autor__name
            //-         .autor__name-name Владимир Сабанцев
            //-         .autor__name-who Преподаватель