.skills#skills
    h4.skill__title.title--mod Front-end
    ul.skill__list
        li.skill__item
            p.skill__item-name HTML5
            //- +icon("skill-icon", "skillicon")
        li.skill__item
            p.skill__item-name CSS4
        li.skill__item
            p.skill__item-name Javascript
        li.skill__item
            p.skill__item-name.skill__item-name--mod Jquery <br>и Vue.js
    h4.skill__title.title--mod Workflow
    ul.skill__list
        li.skill__item
            p.skill__item-name GIT
        li.skill__item
            p.skill__item-name Terminal
        li.skill__item
             p.skill__item-name Gulp
        li.skill__item
            p.skill__item-name Webpack

            