.skills#skills
    h4.skill__title.title Front-end
    ul.skill__list
        li.skill__item
            .skill__item-name HTML5
        li.skill__item
            .skill__item-name CSS4
        li.skill__item
            .skill__item-name Javascript
        li.skill__item
            .skill__item-name.skill__item-name Jquery <br>и Vue.js
    h4.skill__title.title Workflow
    ul.skill__list
        li.skill__item
            .skill__item-name GIT
        li.skill__item
            .skill__item-name Terminal
        li.skill__item
             .skill__item-name Gulp
        li.skill__item
            .skill__item-name Webpack

            