.skills#skills
    h2.title.title__skills Front-End
    ul.skills__list
        li.skills__item 
            .skills__box
                .skills__box--title HTML5
                svg(viewBox="0 0 200 200").skills__box--svg-shape
                    circle(cx="100" cy="100" r="80").skills__box--svg-circle--position-under
                    circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skills__box--svg-circle--position-above
        li.skills__item
            .skills__box
                .skills__box--title CSS
                svg(viewBox="0 0 200 200").skills__box--svg-shape
                    circle(cx="100" cy="100" r="80").skills__box--svg-circle--position-under
                    circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skills__box--svg-circle--position-above
        li.skills__item
            .skills__box
                .skills__box--title Javascript
                svg(viewBox="0 0 200 200").skills__box--svg-shape
                    circle(cx="100" cy="100" r="80").skills__box--svg-circle--position-under
                    circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skills__box--svg-circle--position-above
        li.skills__item
            .skills__box
                .skills__box--title query и Vue.js
                svg(viewBox="0 0 200 200").skills__box--svg-shape
                    circle(cx="100" cy="100" r="80").skills__box--svg-circle--position-under
                    circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skills__box--svg-circle--position-above
    h2.title.title__skills Workflow
    ul.skills__list
        li.skills__item
            .skills__box
                .skills__box--title Git
                svg(viewBox="0 0 200 200").skills__box--svg-shape
                    circle(cx="100" cy="100" r="80").skills__box--svg-circle--position-under
                    circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skills__box--svg-circle--position-above
        li.skills__item
            .skills__box
                .skills__box--title Terminal
                svg(viewBox="0 0 200 200").skills__box--svg-shape
                    circle(cx="100" cy="100" r="80").skills__box--svg-circle--position-under
                    circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skills__box--svg-circle--position-above
        li.skills__item
            .skills__box
                .skills__box--title Gulp
                svg(viewBox="0 0 200 200").skills__box--svg-shape
                    circle(cx="100" cy="100" r="80").skills__box--svg-circle--position-under
                    circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skills__box--svg-circle--position-above
        li.skills__item
            .skills__box
                .skills__box--title Webpack
                svg(viewBox="0 0 200 200").skills__box--svg-shape
                    circle(cx="100" cy="100" r="80").skills__box--svg-circle--position-under
                    circle(cx="100" cy="100" r="80" style=`animation-delay: -50s`).skills__box--svg-circle--position-above




svg(style="width:0; height:0; position: absolute;" aria-hidden="true")
    linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
        stop(offset="0%" stop-color='#4a00ed')
        stop(offset="100%" stop-color='#9300e8') 
    
    
    
    
    
    