.slider-info
  .slider-info__number 4
  ul.slider-info__tags
    li.slider-info__tag
      .slider-info__tag-text CSS
    li.slider-info__tag
      .slider-info__tag-text HTML
    li.slider-info__tag
      .slider-info__tag-text JavaScript
  h2.slider-info__worktitle Сайт школы образования
  p.slider-info__desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
  a.slider-info__link(href="#")
    +icon ('link', 'slider-info__link-img')
    span.slider-info__link-text Посмотреть сайт



