.slider
    .slider__main
        +image("content/sl-work1.png", "slider__main-pic")
        ul.slider__prev-list
            li.slider__prev-item
                a.slider__prev-link(href="#")
                +image("content/sl-prev1.png", "slider__prev-pic")
                a.slider__prev-link(href="#")
                +image("content/sl-prev2.png", "slider__prev-pic")
                a.slider__prev-link(href="#")
                +image("content/sl-prev3.png", "slider__prev-pic")
                a.slider__prev-link(href="#")
                +image("content/sl-prev4.png", "slider__prev-pic")
    
