.slider__buttons
    button.slider__btn--prev(type="button")
        +icon("arrow", "slider__btn-prev")
    button.slider__btn--next(type="button")
        +icon("arrow", "slider__btn-next")

                