section#works
    #slider-container

script(type="text/x-template")#slider-template
    .container  
        h2
        .works__work-number 2
        //display

script(type="text/x-template")#slider-display

script(type="text/x-template")#slider-previews
    .works__work
        .work(:style='(transform: `translateY(-${translate)%)`}')

script(type="text/x-template")#slider-btns
    button(
        type='button'
        :disabled='current <= 0'
    )
    button(
        type='button'
        :disabled='current >= (worksLength - 1)'
    )

script(type="text/x-template")#slider-desc

script(type="text/x-template")#slider-tags

