
ul.slider-reviews__list
    li.slider-reviews__item
        +icon("quote", "slider-rev__quote-pic")
        .slider-reviews__block
            p.slider-reviews__text.text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .slider-reviews__autor
                .slider-reviews__autor-photo
                    +image("content/dima.png", "autor__pic")
                .slider-reviews__autor--name
                    .slider-reviews__autor-fullname Дмитрий Ковальчук
                    .slider-reviews__autor-position.text Основатель Loftschool
    li.slider-reviews__item
        +icon("quote", "slider-rev__quote-pic")
        .slider-reviews__block
            p.slider-reviews__text.text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
            .slider-reviews__autor
                .slider-reviews__autor-photo
                    +image("content/vladimir.png", "autor__pic")
                .slider-reviews__autor--name
                    .slider-reviews__autor-fullname Владимир Сабанцев
                    .slider-reviews__autor-position.text Преподаватель
        

