.slider__buttons--rev
    button.slider__btn--rev(type="button")
        +icon("arrow", "slider__btn-prev-black")
    button.slider__btn--rev(type="button")
        +icon("arrow", "slider__btn-next-black")
