ul.social__list
    li.social__item
        a.social__link(href="#")
            +icon('insta', 'social__header')
    li.social__item
        a.social__link(href="#")
            +icon('vk', 'social__header')
    li.social__item
        a.social__link(href="#")
            +icon('github', 'social__header')