section.work#work
    .container
        .work__title
        .work__content
            include ./slider.pug
                .work__slider-btn-block 
                    include ./slider-control-work.pug
            include ./slider-info.pug       