section.works#works
    .container.works__container
        .section-title.works__section-title 
            h2.title.title__work Мои работы
            .works__content
                #slider-component